:root{
    --primary-color: #754b4d;
    --secondary-color: #e0cbb9;
    --background-color: #d8a694;
    --other-color: #a86a65;
    --side-color: #ab8882;
    --font-family: 'Sour Gummy', cursive;
    --border-radius: 12px;
    --transition: 0.3s ease;
}

/* Setting default style for all web pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 5px;
    padding: 5px;
}

.logo{
    margin-bottom: 15px;
}

/* Navigation Bar*/
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: center;
    font-size: 18px;
    margin-right: 40px; 
}

.nav{
    margin-top: -40px
}

.cartnav{
    float: right;
    margin-top: -30px;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    text-decoration: none;
    padding: 5px 15px;
    color: var(--other-color);
    transition: color var(--transition);
    margin: 0 15px;
}

ul li a:hover, ul li a:focus, ul li.active a{
    border-bottom: 2.5px solid var(--primary-color);
    color: var(--primary-color);
}

/* Submenu*/
ul li:hover .submenu{
    display: block;
} 

.submenu{
    display: none;
    position: absolute;
    border: 1px solid var(--other-color);
    border-radius: var(--border-radius);
    padding: 10px transparent;
    z-index: 1000;
    list-style: none;
}

.submenu li{
    display: block;
    padding: 5px;
    margin: 10px;
}

.submenu li a{
    padding: 5px 10px;
    display: block;
 	text-align: center;
 	font-size: 0.95rem;
 	text-decoration: none;
}

.submenu li a:hover{
    color: var(--other-color);
} 

@media (max-width: 600px){
  .nav {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    margin-right: 0;
    padding: 0;
    gap: 10px;
  }

  ul li {
    display: inline-block;
    position: relative;
  }

  ul li a {
    padding: 8px 10px;
    margin: 0;
  }

  .cartnav {
    float: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    padding: 10px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .submenu li a {
    font-size: 0.9rem;
    padding: 8px;
  }
}

/*---------------------------------------- HOME PAGE -------------------------------*/
/* Intro Section Styles */

.intro{
    text-align: center;
    margin: 180px 25px;
}

.intro h2{
    font-size: 75px;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px var(--secondary-color);
}

.intro p{
    color: var(--other-color);
    font-size: 18px;
    margin: 20px;
}

.button{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 10px 6px;
    display: inline-block;
    transition: transform 0.3s ease;
} 

.button:hover{
    transform: scale(0.8);
}

/* Product Preview Section */
#productpreview{
    color: var(--primary-color);

}

#productpreview h1{
    font-size: 60px;
    text-align: center;
    color: var(--other-color);
    margin-top: 20px;
    text-shadow: 1px 1px 2px var(--primary-color);
}

.preview{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.preview div{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
} 

.product p {
    margin-top: 10px;
    font-size: 0.95rem;
    line-height: 1.4;
    padding: 8px;
    border-radius: 10px;
    color: var(--primary-color);
} 

.product img{
    width: 210px;
    height: 270px;
    border-radius: var(--border-radius);
    cursor: pointer;
} 

.product h3{
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.product:hover, #productpreview .button:hover{
  transform: scale(1.05);
}

#productpreview .button{
    display: block;
    text-align: center;
    margin: 15px;
    width: 160px;
} 

@media (max-width: 600px){
    .intro h2{
        font-size: 48px;
    }

    #productpreview h1{
        font-size: 40px;
    }

    .preview{
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 25px;
    }    

    .product img{
        width: 100%;
        height: 50%;
    }

    #productpreview .button{
        margin: 15px auto;
    }
} 

/*---------------------------------------- ABOUT US PAGE -------------------------------*/
#about{
    text-align: center;
    margin: 75px 35px;
}

#about h2{
    font-size: 75px;
    text-shadow: 1px 1px 3px var(--primary-color);
    color: var(--secondary-color);
}

#about p{
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--other-color);
} 

/* Vision and Mission Statements  and Founder Information */
.information{
    display: flex;
    text-align: center;
}

#vision, #mission, #founder{
    width: 33.3%;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    margin: 30px;
}

#vision h2, #mission h2, #founder h2{
    font-size: 40px;
    color: var(--other-color);
    text-shadow: 1px 2px 1px var(--secondary-color);
}

#vision p, #mission p, #founder p{
    font-size: 20px;
    color: var(--primary-color);
    margin: 25px;
}

/* Message From The Founder */
.message{
    text-align: left;
    margin: 45px 25px;
    padding: 15px;
    background-color: var(--secondary-color);
    border: 2px solid var(--other-color);
    border-radius: var(--border-radius);
}

.message h2{
    font-size: 35px;
    color: var(--side-color);
    text-shadow: 1px 1px 1px var(--primary-color);
    background-color: var(--secondary-color);
}

.message p{
    font-size: 22px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
} 

@media (max-width: 600px){
    #about{
        margin: 50px 20px;
    }

    #about h2{
        font-size: 45px;
    }

    #about p{
        font-size: 16px;
    }

    .information {
        display: block;
        text-align: center;
    }    

    #vision, #mission, #founder {
        width: 75%;
        margin: 20px auto;
        padding: 15px;
    }

    #vision h2, #mission h2, #founder h2 {
        font-size: 28px;
        text-shadow: 1px 1px 1px var(--secondary-color);
    }

    #vision p, #mission p, #founder p {
        font-size: 18px;
        margin: 15px;
    }

    .message {
        display: block;
        text-align: center;
        width: 80%;
        margin: 30px auto;
        padding: 12px;
    }

    .message h2 {
        font-size: 26px;
    }

    .message p {
        font-size: 18px;
    }
} 

/*---------------------------------------- PRODUCTS PAGE -------------------------------*/
#products{
    color: var(--primary-color);
}

#products h1{
    text-align: center;
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 2px 1px 2px var(--secondary-color);
    margin-top: 30px;
} 

.prodcard h2{
    font-size: 25px;
	margin: 20px 0;
    color: var(--primary-color);
    text-shadow: 2px 2px 3px var(--secondary-color);
} 

.prod{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.prod div {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.prod div:hover {
    transform: scale(1.05);
}

.prod img {
    width: 100%;
    height: 350px;
    border-radius: 6px;
}

.prod p {
    margin-top: 10px;
    font-size: 0.95rem;
    line-height: 1.4;
    padding: 8px;
    border-radius: 10px;
    color: var(--primary-color);
}

.quan-panel{
    padding: 5px; 
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 10px;
}

.hidden{
    display: none;
}

.qntyinput{
    width: 105px;
    height: 34px;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--other-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.addbtn{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 12px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 8px 6px;
}

.addbtn:hover{
    transform: scale(0.8);
}

@media (max-width: 600px){
    .prodcard h2{
        text-align: center;
    }

    .prod img{
        height: auto;
    }
}

/*---------------------------------------- LOGIN PAGE AND REGISTRATION PAGE -------------------------------*/
.loginwrapper, .registerwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    color: var(--primary-color);
} 

.loginwrapper h1, .registerwrap h1{
    font-size: 36px;
    text-align: center;
}

.loginwrapper .input-box, .registerwrap .input-box{
    position: relative;
    width: 400px;
    height: 40px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    padding: 10px 45px 10px 20px; 
    font-size: 15px;
    border: 1.5px solid var(--side-color);
    border-radius: 40px;
} 

.input-box input::placeholder{
    color: var(--primary-color);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--primary-color);
} 

#showpwrd{
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 15px;
} 

.remember{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember label input{
    color: var(--primary-color);
    margin: 3px;
}

.registerlink, .loginlink{
    margin: 20px;
    font-size: 15px;
    text-align: center;
}

.registerlink a, .loginlink a{
    font-weight: bold;
}

.remember a, .registerlink a, .loginlink a{
    color: var(--primary-color);
    text-decoration: none;
}

.remember a:hover, .registerlink a:hover, .loginlink a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
} 

.btn{
    width: 100%;
    height: 40px;
    margin-top: 25px;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--side-color);
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}

.btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media (max-width: 600px){
    .loginwrapper, .registerwrap{
        margin: 52px;
        width: 50%;
    }

    .loginwrapper h1, .registerwrap h1{
        margin-left: 50px;
    }

    .input-box input, .btn{
        width: 86%;
        margin-left: 62px;
        font-size: 16px;
    }

    .input-box i{
        right: 16px;
    }

    .remember label input, #showpwrd{
        margin-left: 72px;
    }

}

/*---------------------------------------- CART PAGE AND CHECKOUT PAGE -------------------------------*/
.cart{
    display: block;
    margin: 40px;
    padding: 25px;
    text-align: center;
    border: 1.5px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.cart h3{
    font-size: 50px;
    color: var(--side-color);
    text-shadow: 1px 2px 1px var(--other-color);
}

.cart p, .checkout p{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    color: var(--primary-color);
}

.cartbtn{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 10px 6px;
}

.cartbtn:hover{
    transform: scale(1.05);
}

#cartitems, #checkoutitems{
    font-size: 18px;
    color: var(--primary-color);
    margin: 15px;
}

#cartitems button{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: 1.5px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    margin: 5px;
    padding: 6px 6px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.coutcontain, .shipping, .bill{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1.5px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.coutcontain h3, .shipping h3, .bill h3{
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 1px 2px 2px var(--secondary-color);
}

.ship-bill{
    display: flex;
    justify-content: space-between;
}

.shipping, .bill{
    width: 50%;
}

.shipping-panel input[type = "text"], input[type = "number"]{
    width: 95%;
    margin: 8px 8px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--other-color);
    border-radius: var(--border-radius);
}

.paymentmethods{
    text-align: left;
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    padding: 20px;
}

fieldset.two-col{
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    margin-bottom: 5px;
}

fieldset.two-col .name{
    flex: 1;
    padding: 5px; 
}

.shipbtn, .billbtn{
    font-size: 18px;
    padding: 6px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.shipbtn:hover, .billbtn:hover{
    transform: scale(0.8);
}

.shipping-panel{
    padding: 5px; 
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 10px;
}

.hidden{
    display: none;
}

.bill{
    height: 240px;
}

.bill img{
    width: 280px;
    height: 280px;
    margin: 20px;
}

.bills p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--other-color);
}

@media screen and (max-width: 600px) {
  .ship-bill {
    display: block;
  }

  .shipping, .bill {
    width: 100%;
  }

  .coutcontain, .shipping, .bill {
    margin: 15px auto;
    padding: 12px;
  }

  .coutcontain h3, .shipping h3, .bill h3 {
    font-size: 24px;
    text-shadow: 1px 1px 1px var(--secondary-color);
  }

  .shipping-panel input[type="text"], .shipping-panel input[type="number"] {
    width: 100%;
    font-size: 15px;
    margin: 6px 0;
    padding: 10px;
  }

  .paymentmethods {
    font-size: 16px;
    padding: 15px;
    margin-left: 10px;
  }

  fieldset.two-col {
    display: block;
  }

  fieldset.two-col .name {
    width: 100%;
    padding: 8px 0;
  }

  .shipbtn, .billbtn {
    font-size: 16px;
    padding: 8px 12px;
    width: 50%;
    margin-top: 10px;
  }

  .bill {
    height: 340px;
  }

  .bill img {
    width: 100%;
    height: auto;
    margin: 15px 0;
  }
}

/* Footer*/
#footer{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: var(--primary-color)
}

#footer .contactus, #footer .socialmedia{
    text-align: center;
}

.socialmedia{
    padding: 10px;
}

.socialmedia h2{
    font-size: 25px;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px var(--secondary-color);
}

.socialmedia a{
    display: inline-flex;
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
	background-color: var(--side-color);
	color: var(--secondary-color);
	border-radius: 50%;
}

.socialmedia a:hover{
	color: var(--side-color);
}

#footer .copy{
    margin-top: 10px;
    text-align: left;
}

@media (max-width: 600px){
    .socialmedia h2{
        font-size: 22px;
    }

    .socialmedia a{
        font-size: 20px;
    }

    .contactus p{
        text-wrap: wrap;
        font-size: 16px;
    }

    .copy{
        margin-top: 6px;
        font-size: 16px;
    }
}